body {
    background-image: url("https://img.freepik.com/free-vector/space-with-stars-universe-space-infinity-background_78474-99.jpg?size=626&ext=jpg");
    height: 100vh;

    overflow-x: hidden;
}


.moon {
    /* display:block; */
   justify-content: center;
   
   /* margin-left: auto;
    margin-right: auto; */
}

.moontext{
font-family: 'Space Mono', monospace;
}

.image-container{
    display: flex;
    flex-direction: row;
}



.cheesefontsize{
    font-size: x-large;
}

