body {
    background-image: url("https://img.freepik.com/free-vector/space-with-stars-universe-space-infinity-background_78474-99.jpg?size=626&ext=jpg");
    height: 100vh;
}


.moonimg {
    display:block;
    max-width: 50%;
    height: auto;
}

.moontext{
font-family: 'Space Mono', monospace;
}